.overlayBackground{
    height: 100vh;
    width: 100%;
    background: radial-gradient(circle, rgba(18, 18, 18, 0.801) 30%, rgba(255,255,255,0) 100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
}
.profileAvatar{
    /* margin-right: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 5vw;
}
.logoBrand{
    height: 80%;
    width: 80%;
    border-radius: 100%;
    animation: breath 3s ease-in-out infinite alternate;
}
.profileAvatar .ringOne{
    height: inherit;
    width: inherit;
    position: absolute;
    fill:none;
    stroke:url('#linearRing1');
    stroke-linecap: round;
    stroke-width: 3;
    stroke-dasharray: 1 1;
    stroke-dashoffset: 1;
    animation: stroke-draw 3s ease-in-out infinite alternate ;
}
@keyframes stroke-draw {
    /* 0%{
        stroke-dasharray: 8;
    }
    100%{
        fill: transparent;
        stroke-dasharray: 1;
    } */
    0% {
        stroke-dasharray: 8;
        transform-origin: center;
        transform: rotate(0deg);
    }
    90% {
        stroke-dasharray: 1;
        transform-origin: center;
        transform: rotate(360deg);
    }
    100% {
        stroke-dasharray: 0;
        transform-origin: center;
        transform: rotate(360deg);
    }
}

@keyframes breath  {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}