.gridBlock{
    background-color: var(--surface-04);
    border-radius: 15px;
}
.postSumContainer{
    grid-column: 3 / 6;
    grid-row: 2 / 6;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.sumHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.leftHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sumHeader h2{
    font-size: 20px;
    font-weight: 400;
    color: var(--on-background);
    text-transform: capitalize;
    margin-right: 10px;
}
.sumHeader h3{
    font-size: 12px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    transition: all .2s;
} 
.button{
    display: flex;
    background-color: var(--surface-08);
    padding: 5px 10px;
    border-radius: 15px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
.button:hover h3{
    color: var(--blue);
}
.button:hover svg{
    fill: var(--blue);
    stroke: var(--blue);
}
.button svg{
    transition: all .2s;
    fill: var(--primary);
    stroke: var(--primary);
    
    padding-right: 5px;
}
.listCount{
    background-color: var(--surface-08);
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--primary);
}
.listCount .iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconContainer svg{
    height: 20px;
    stroke: var(--primary);
    /* fill: var(--primary); */
}

/* Posts list part */
.postList{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.listLabel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.labelItem{
    list-style: none;
    font-family: 'Neue Helvetica';
    color: var(--on-background-matte);
    font-size: 13px;
}


/* Editor Part */
.editField{
    padding-left: 35px;
    padding-right: 35px;
    color: var(--on-background-matte);
    overflow-y: auto;
    padding-bottom: 10px;
}
.editField::-webkit-scrollbar{
    display: none;
}
.textField{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textField:nth-child(6){
    margin-bottom: 5px;
}
.textField label{
    font-size: 14px;
    font-weight: 500;
}
.textDanger{
    color: var(--red);
}
.textInput{
    width: 250px;
    margin-left: 10px;
    height: 28px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--surface-08);
    color: var(--on-background-matte);
    font-size: 13px;
}
.textInput:focus{
    outline: none;
    color: var(--on-background);
}
.textInput::-webkit-scrollbar{
    display: none;
}
.items{
    padding: 20px;
    font-weight: 300;
}
.submit .button{
    margin-top: 10px;
    font-weight: 600;
    padding: 5px 10px;
    transition: all .2s;
    color: var(--on-background-matte);
}
.submit .button:hover{
    color: var(--on-background);
}

@media screen and (max-width: 1920px) {
    .textField label{
        font-size: 12px;
    }
    /* .textInput{
        width: 150px;
        margin-left: 5px;
    } */
}
@media screen and (max-width: 1355px) {
    .postSumContainer{
        grid-column: 2 / 7;
    }
}