.gridBlock{
    background-color: var(--surface-04);
    border-radius: 15px;
}
.postSumContainer{
    grid-column: 3 / 6;
    grid-row: 2 / 6;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
.sumHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.leftHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sumHeader h2{
    font-size: 20px;
    font-weight: 400;
    color: var(--on-background);
    text-transform: capitalize;
    margin-right: 10px;
}
.sumHeader h3{
    font-size: 12px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    transition: all .2s;
}
.submit .button{
    background-color: var(--surface-02);
    opacity: 1;
    border-radius: 8px;
}
.button{
    display: flex;
    background-color: transparent;
    cursor: pointer;
    opacity: .6;
}
.button:hover{
    opacity: 1;
}
.button svg{
    width: 25px;
    height: 25px;
}
.listCount{
    background-color: var(--surface-08);
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--primary);
}
.listCount .iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconContainer svg{
    height: 23px;
    stroke: var(--primary);
    /* fill: var(--primary); */
}

/* Posts list part */
.postList{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-collapse: separate;
    border-spacing: 0 10px;
    flex-grow: 1;
}
.listLabel .labelItem{
    color: var(--on-background-matte);
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 600;
    text-align: center;
}
.postList tr, .postList td{
    font-family: 'Neue Helvetica';
}
.postList tbody td{
    padding: 10px 10px;
    color: var(--on-background);
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    
}
.postList tbody tr{
    background-color: var(--surface-06);
}
.postList tbody tr:hover{
    background-color: var(--surface-08);
}
.postList td:first-child{
    text-align: left;
    white-space: normal;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.postList td:nth-child(2){
    white-space: nowrap;
}
.postList td:nth-child(4){
    white-space: nowrap;
}
.postList td:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.postList td svg{
    height: 18px;
    width: 18px;
}
.postList td svg path{
    fill: var(--on-background-matte);
}
.pagination{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.pagination button{
    background-color: var(--on-background-matte);
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    padding: 5px;
    margin:2px;
}
/* Editor Part */
.editField{
    padding-left: 35px;
    padding-right: 35px;
    color: var(--on-background-matte);
    overflow-y: auto;
    padding-bottom: 10px;
}
.editField::-webkit-scrollbar{
    display: none;
}
.textField{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textField:nth-child(6){
    margin-bottom: 5px;
}
.textField label{
    font-size: 14px;
    font-weight: 500;
}
.textDanger{
    color: var(--red);
}
.textInput{
    width: 250px;
    margin-left: 10px;
    height: 28px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--surface-08);
    color: var(--on-background-matte);
    font-size: 13px;
}
.textInput:focus{
    outline: none;
    color: var(--on-background);
}
.textInput::-webkit-scrollbar{
    display: none;
}
.items{
    padding: 20px;
    font-weight: 300;
}
.submit .button{
    margin-top: 10px;
    font-weight: 600;
    padding: 5px 10px;
    transition: all .2s;
    color: var(--on-background-matte);
}
.submit .button:hover{
    color: var(--on-background);
}

@media screen and (max-width: 1920px) {
    .postSumContainer{
        padding-top: 10px;
        padding-bottom: 10px;
        min-width: 544px;
    }
    .textField label{
        font-size: 12px;
    }
    .postList{
        padding-left: 15px;
        padding-right: 15px;
        border-spacing: 0 15px;
    }
    .listLabel .labelItem{
        font-size: 13px;
    }
    .labelItem svg{
        height: 18px;
        width: 18px;
    }
    .postList tbody td{
        padding: 5px 10px;
        color: var(--on-background);
        font-weight: 300;
        font-size: 12px;
        text-align: center;
    }
    .postList tbody tr{
        background-color: var(--surface-06);
    }
    .postList tbody tr:hover{
        background-color: var(--surface-08);
    }
    .postList td:first-child{
        text-align: left;
        white-space: normal;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .postList td:nth-child(2){
        white-space: nowrap;
    }
    .postList td:nth-child(4){
        white-space: nowrap;
    }
    .postList td:last-child{
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .pagination{
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .pagination button{
        background-color: var(--on-background-matte);
        cursor: pointer;
        width: 8px;
        height: 8px;
        padding: 0;
        border-radius: 100%;
        margin: 4px;
    }

}
@media screen and (max-width: 1355px) {
    .postSumContainer{
        grid-column: 2 / 7;
    }
}