.button{
    background-color: transparent;
    cursor: pointer;
}
/* Backward Button */
.backButton{
    position: fixed;
    z-index: 1;
    top: 2%;
    left: 2%;
    height: 60px;
    width: auto;
    aspect-ratio: 1/1;
    opacity: .7;
    transition: all .3s;
}
.backButton:hover{
    opacity: 1;
}
/* Scroll to Top Button */
.scrollToTop{
    background-color: var(--surface-08);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: fixed;
    bottom: 15px;
    right: 15%;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}
.scrollToTop:hover{
    background-color: var(--surface-16);
}
.scrollToTop.visible{
    visibility: visible;
    opacity: 1;
    transition: all .2s;
}

/* Next vs Prev Post Button */
.prev{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.116) 0%, rgba(255,255,255,0) 100%);  
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: 0;
}
.next{
    background: linear-gradient(270deg, rgba(255,255,255,0.116) 0%, rgba(255,255,255,0) 100%);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    right: 0;
}
.nextPrev{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    opacity: 0;
    transition: all .3s;
}
.nextPrev:hover{
    opacity: 1;
    transition: all .3s;
}

/* Scroll To Head and Tail */
.twoButton{
    position: fixed;
    z-index: 1;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 10vw;
}
.scrollHead{
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}
.scrollTail{
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}
.scrollHead.visible {
    visibility: visible;
    opacity: 1;
    transition: all .2s;
}
.scrollTail.visible {
    visibility: visible;
    opacity: 1;
    transition: all .2s;
}

/* Scroll To Top and Bottom */
.twoButtonTB{
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
.scrollTop{
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}
.scrollBottom{
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}
.scrollTop.visible {
    visibility: visible;
    opacity: 1;
    transition: all .2s;
}
.scrollBottom.visible {
    visibility: visible;
    opacity: 1;
    transition: all .2s;
}

.playButton{
    height: 70px;
    width: 70px;
    cursor: pointer;
}
.shuffle{
    height: 35px;
    width: 35px;
    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    .backButton{
        height: 50px;
        top: 15px;
    }
    .scrollToTop{
        right: 2%;
    }
}
@media screen and (max-width: 1000px) {
    .scrollToTop{
        width: 40px;
        height: 40px;
    }
    .scrollToTop svg{
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 768px) {
    .backButton{
        height: 40px;
        top: 15px;
    }
}
@media screen and (max-width: 550px) {
    .scrollToTop{
        width: 30px;
        height: 30px;
    }
    .scrollToTop svg{
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 400px) {
    .backButton{
        top: 15px;
        height: 30px;
    }
    .scrollToTop{
        width: 20px;
        height: 20px;
    }
    .scrollToTop svg{
        width: 15px;
        height: 15px;
    }
}