.button{
    background-color: transparent;
    cursor: pointer;
}
/* Backward Button */
.backButton{
    position: fixed;
    top: 15px;
    left: 150px;
}
/* Scroll to Top Button */
.scrollToTop{
    background-color: var(--surface-08);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: fixed;
    bottom: 15px;
    right: 15%;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}
.scrollToTop:hover{
    background-color: var(--surface-16);
}
.scrollToTop.visible{
    visibility: visible;
    opacity: 1;
    transition: all .2s;
}

/* Next vs Prev Post Button */
.prev{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.116) 0%, rgba(255,255,255,0) 100%);  
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: 0;
}
.next{
    background: linear-gradient(270deg, rgba(255,255,255,0.116) 0%, rgba(255,255,255,0) 100%);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    right: 0;
}
.nextPrev{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    opacity: 0;
    transition: all .3s;
}
.nextPrev:hover{
    opacity: 1;
    transition: all .3s;
}

/* Scroll To Head and Tail */
.scrollHead{
    z-index: 1;
    position: fixed;
    bottom: 15px;
    left: 45%;
    transform: translateX(-40%);
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}
.scrollTail{
    z-index: 1;
    position: fixed;
    bottom: 15px;
    right: 15px;
    right: 45%;
    transform: translateX(-40%);
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}
.scrollHead.visible {
    visibility: visible;
    opacity: 1;
    transition: all .2s;
}
.scrollTail.visible {
    visibility: visible;
    opacity: 1;
    transition: all .2s;
}

/* Scroll To Top and Bottom */
.scrollTop{
    z-index: 1;
    position: fixed;
    right: 11vw;
    top: 40%;
    transform: translateY(-40%);
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}
.scrollBottom{
    z-index: 1;
    position: fixed;
    right: 11vw;
    bottom: 40%;
    transform: translateY(-40%);
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}
.scrollTop.visible {
    visibility: visible;
    opacity: 1;
    transition: all .2s;
}
.scrollBottom.visible {
    visibility: visible;
    opacity: 1;
    transition: all .2s;
}

@media screen and (max-width: 1500px) {
    .scrollToTop{
        right: 2%;
    }
}
@media screen and (max-width: 1000px) {
    .scrollToTop{
        width: 40px;
        height: 40px;
    }
    .scrollToTop svg{
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 768px) {
   
}
@media screen and (max-width: 550px) {
    .scrollToTop{
        width: 30px;
        height: 30px;
    }
    .scrollToTop svg{
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 400px) {
    .scrollToTop{
        width: 20px;
        height: 20px;
    }
    .scrollToTop svg{
        width: 15px;
        height: 15px;
    }
}