.teamContainer{
    grid-column: 3 / 6;
    grid-row: 6 / 10;
}
.gridBlock{
    background-color: var(--surface-04);
    border-radius: 15px;
    overflow: hidden;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.header h2{
    font-size: 20px;
    font-weight: 300;
    color: var(--on-background);
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-right: 10px;
}
.teamCount{
    background-color: var(--surface-08);
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--primary);
}
.teamCount div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.scheduleContainer{
    grid-column: 3 / 6;
    grid-row: 6 / 10;
}
.teamMembers{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 85%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    overflow-y: scroll;
    border-bottom: 2px solid var(--on-separate);
}
.teamMembers::-webkit-scrollbar{
    display: none;
}
.memberContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.avatarContainer{
    height: 45px;
    width: 45px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}
.avatarContainer img{
    height: inherit;
    width: inherit;
    object-fit: cover;
}
.avatarContainer button{
    position: absolute;
    height: 45px;
    width: 45px;
    top: 0;
    left: 0;
    background-color: #a9a9a93b;
}
.avatarContainer label{
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.memberName{
    font-family: 'Neue Helvetica';
    color: var(--on-background);
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.memberName h2{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .7px;
}
.memberName h3{
    font-size: 13px;
    font-weight: 300;
    opacity: .8;
    letter-spacing: .5px;
}
.memberName input{
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .7px;
    color: var(--on-background);
    width: 230px;
}
.memberName input:last-child{
    font-size: 13px;
    font-weight: 300;
    opacity: .8;
    letter-spacing: .5px;
}
.memberName input:focus{
    outline: none;
}
.functionDot{
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
.functionDot button{
    background-color: transparent;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.functionWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    gap: 10px;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
}
.functionWrapper button{
    position: relative;
    opacity: .6;
}
.functionWrapper .interactButton::after{
    top: 0;
    right: -2px;
    content: '';
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 100%;
    border: 1px solid var(--surface-08);
    position: absolute;
}
.functionWrapper button:hover {
    opacity: 1;
    transition: all .2s;
}
.functionWrapper.active{
    animation: functionWrapperIn 0.3s ease-in 1 normal forwards;
}
.functionWrapper.deactive{
    animation: functionWrapperOut 0.4s ease-in 1 normal forwards;
}
@keyframes functionWrapperIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
    }
    60%{
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
}
@keyframes functionWrapperOut {
    0% {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
    50%{
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
    }
}
.addMembers{
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}
.addButton{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.addButton .button{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: linear-gradient(90deg, rgba(41,79,182,1) 0%, rgba(69,163,228,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.addButton h2{
    font-family: "Neue Helvetica";
    font-size: 15px;
    color: var(--on-background);
}
.addForm{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.addForm .bubble{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 10px;
    overflow: hidden;
}
.addForm .button{
    background: linear-gradient(90deg, rgba(41,79,182,1) 0%, rgba(69,163,228,1) 100%);
}
.addForm .avatarContainer img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.addForm .button label{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.addForm form{
    display: flex;
    flex-direction: column;
}
.editItem input{
    width: 250px;
    border: none;
    background-color: transparent;
    color: var(--on-background);
    padding-left: 5px;
}
.editItem input:focus{
    border: none;
    outline: none;
}
.verifyButton{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.verifyButton button{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: .6;
    transition: all .2s;
}
.verifyButton button:hover{
    opacity: 1;
    transition: all .2s;
}
.addButton.active{
    animation: activeAddNew .5s ease-in 1 normal forwards;
}
.addForm.active{
    animation: activeAddForm .8s ease-in 1 normal forwards;
}
.addButton.deactive{
    animation: deActiveAddNew .5s ease-in 1 normal forwards;
}
.addForm.deactive{
    animation: deActiveAddForm .5s ease-in 1 normal forwards;
}
@keyframes activeAddNew {
    from {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes activeAddForm {
    0% {
        transform: translateX(0);
        opacity: 0;
        visibility: visible;
    }
    50%{
        opacity: 0;
        visibility: visible;
    }
    100% {
        transform: translateX(-100%);
        opacity: 1;
        visibility: visible;
    }
}
@keyframes deActiveAddNew {
    from {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }
    to {
        transform: translateX(-0%);
        opacity: 1;
        visibility: visible;
    }
}
@keyframes deActiveAddForm {
    0% {
        transform: translateX(-100%);
        opacity: 1;
        visibility: visible;
    }
    50%{
        opacity: 0;
        visibility: visible;
    }
    100% {
        transform: translateX(0%);
        opacity: 0;
        visibility: hidden;
    }
}

@media screen and (max-width: 1355px) {
    .teamContainer{
        grid-column: 2 / 7;
    }
}