.uploadContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.header h2{
    font-size: 20px;
    font-weight: 400;
    color: var(--on-background);
    text-transform: capitalize;
    margin-right: 10px;
}
.uploadContainer h3{
    padding-top: 10px;
    padding-left: 8%;
    color: var(--on-background);
}
.uploadPart{
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    max-height: 150px;
    width: 60%;
    border: 2px dashed var(--on-background-matte);
    border-radius: 10px;
}
.uploadArea{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.uploadArea svg{
    cursor: pointer;
    height: 40px;
    width: 40px;
    transition: all .2s;
    opacity: .7;
}
.uploadArea h4{
    margin-top: 10px;
    color: var(--on-background);
    font-size: 13px;
    font-weight: 500;
}
.uploadArea span{
    margin-top: 10px;
    color: var(--on-background-matte);
    font-size: 11px;
    font-weight: 400;
}
.filesUpload{
    width: 90%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}

.uploadSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1.5px solid #ffffff06;
    padding-top: 10px;
    padding-bottom: 10px;
}
.fileIcon{
    padding-right: 10px;
}
.fileInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}
.fileInfo h4{
    font-size: 14px;
    color: var(--on-background);
}
.fileInfo h5{
    font-size: 12px;
    color: var(--on-background-matte);
}
.progressStatus{
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    /* flex-grow: 1; */
    width: 50%;
    padding-right: 10px;
}
.progressStatus span{
    width: 33px;
    color: #007bff;
    font-size: 12px;
    font-weight: 500;
}
.filesUpload::-webkit-scrollbar{
    display: none;
}