.footer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 50px;
}
.footer a{
    height: 25px;
    width: 25px;
}
.brand{
    height: 60px !important;
    width: 60px !important;
    opacity: 0.8;
}
.brand img{
    height: inherit;
    width: inherit;
    opacity: 0.8;
}
@media screen and (max-width: 768px) {
    .footer{
        margin-top: 35px;
        gap: 15px;
    }
    .footer a{
        height: 20px;
        width: 20px;
    }
}
@media screen and (max-width: 550px) {
    .footer{
        margin-top: 35px;
        gap: 10px;
    }
    .footer a{
        height: 20px;
        width: 20px;
    }
}
@media screen and (max-width: 400px) {
    .footer{
        margin-top: 20px;
        gap: 10px;
    }
    .footer a{
        height: 15px;
        width: 15px;
    }
    .brand{
        height: 40px !important;
        width: 40px !important;
    }
}