
/* Portrait Post Page Formart*/
.portraitPost{
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 100vh;
    overflow: auto;
}
.portraitPost::-webkit-scrollbar-track{
    background-color: transparent;
}
.portraitPost .postContainer{
    display: flex;
    flex-direction: row-reverse;
    height: max-content;
}
.portraitPost .postCover{
    display: flex;
    justify-content: center;
    /* max-width: 400px; */
    overflow: hidden;
    flex: 0 0 25%;
    background-color: var(--surface-02);
}
.portraitPost .coverImage{
    /* width: 100%; */
    object-fit: cover;
    height: 40vw;
}

.portraitPost .fullTextContainer{
    height: 100%;
    overflow: hidden;
    background-color: var(--surface-02);
    padding-bottom: 0;
    margin-bottom: 0;
}
.portraitPost .postArticle{
    display: block;
    box-shadow: none;
    background-color: inherit;
    /* margin-bottom: 25px; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.portraitPost .postContent{
    padding: 2vw 3.5vw 1vw;
}
.portraitPost .postCat{
    margin-top: 10vw;
    margin-bottom: .8vw;
    /* text-transform: uppercase; */
    width: fit-content;
}
.portraitPost .postCat a{
    letter-spacing: 2px;
    font-size: .8vw;
    font-weight: 700;
    color: var(--primary);
}

.portraitPost .postTitle{
    margin-bottom: 3vw;
}
.postTitle h1{
    display: block;
    line-height: 120%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3vw;
    text-decoration: none;
    color: var(--on-surface);
    width: 85%;
}
.portraitPost .postTextContainer{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.postInfoContainer{
    position: relative;
    display: flex;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.postInfo:first-child{
    text-align: left;
    padding: 30px 0 0;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.postInfo:last-child{
    padding: 30px 0 0;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    font: 200 12px 'Noto Sans SC', sans-serif;
}
.postDate{
    display: inline-block;
    padding-right: 12px;
    text-transform: uppercase;
    font-family: 'Neue Helvetica';
    font-weight: 400;
    font-size: 13px;
    color: var(--on-surface);
    word-spacing: 1px;
    opacity: .8;
}
.postSocial{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.postSocial button{
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    vertical-align: middle;
    margin-right: 12px;
    background-color: inherit;
    color: var(--on-surface);
    font-size: 13px;
    font-family: 'Neue Helvetica';
    font-weight: 400;
    opacity: .8;
}
.postInfo:last-child button{
    display: inline-block;
    padding-bottom: 3px;
    padding-right: 0px;
    padding-left: 5px;
}
.postSocial svg{
    stroke: var(--on-surface);
    stroke-width: 2px;
    height: 14px;
    width: 14px;
    margin-right: 5px;
}
.fbBtn svg {
    stroke: var(--on-surface);
    fill: var(--on-surface);
}
.insBtn svg {
    stroke: var(--on-surface);
    fill: var(--on-surface);
}
.twiBtn svg {
    stroke: var(--on-surface);
    fill: var(--on-surface);
    margin-right: 0;
}
.tagHolder{
    position: relative;
    text-align: left;
    padding: 0px 44px;
}
.tagHolder span{
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--on-surface);
    box-sizing: border-box;
    font: 500 14px 'Baloo 2', cursive;
    color: var(--on-surface);
    opacity: .6;
}

/* Horizontal Post Page Formart */

.landscapePost{
    /* scroll-behavior: smooth; */
    -webkit-overflow-scrolling: touch; /* For iOS devices */
    overflow-y: hidden;
    overflow-x: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100vw;
    height: 85vh;
}
.landscapePost::-webkit-scrollbar-track{
    background-color: transparent;
}
.landscapePost .fullTextContainer{
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--surface-02);
    width: max-content;
}

.landscapePost .postArticle{
    display: flex;
    flex-direction: row;
    background-color: inherit;
    height: 100%;
}
.landscapePost .postContent{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 15vh 10vh 8vh;
}
.landscapePost .catAndTitle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90vh;
}
.landscapePost .postCat{
    letter-spacing: 2px;
    margin-bottom: 1vh;
}
.landscapePost .postCat a{
    font-size: 1.6vh;
    color: var(--primary);
    font-weight: 500;
}
.landscapePost .postTitle h1{
    font-size: 7vh;
    width: 90vh;
}
.firstIntro{
    margin-top: auto;
    align-self: flex-end;
    font-family: 'Neue Helvetica';
    font-size: 2vh;
    text-align: right;
    color: var(--on-surface);
    line-height: 3vh;
}
.landscapePost .firstIntro{
    width: 45vh;
}
.landscapePost .postCover{
    margin-left: 8vh;
}
.landscapePost .coverImage{
    width: auto;
    height: 100%;
}
.landscapePost .postTextContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* Square Post Page Formart */
.squarePost{
    /* scroll-behavior: smooth; */
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: auto;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100vw;
    height: 85vh;
}
.squarePost::-webkit-scrollbar-track{
    background-color: transparent;
}
.squarePost .fullTextContainer{
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--surface-02);
    width: max-content;
}
.squarePost .postArticle{
    display: flex;
    flex-direction: row;
    background-color: inherit;
    height: 100%;
}
.squarePost .postCover{
    display: flex;
    align-items: flex-end;
}
.squarePost .coverImage{
    height: 75vh;
    width: 75vh;
    object-fit: cover;
}
.squarePost .postContent{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 15vh 9vh 8vh 0px;
}
.squarePost .catAndTitle{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 70vh;
}
.squarePost .postCat{
    letter-spacing: 2px;
    margin-bottom: 1vh;
}
.squarePost .postCat a{
    font-size: 1.6vh;
    color: var(--primary);
    font-weight: 500;
}
.squarePost .postTitle{
    width: inherit;
    margin-bottom: 1vh;
}
.squarePost .postTitle h1{
    font-size: 7vh;
    width: inherit;
    margin-bottom: 1vh;
}
.squarePost .firstIntro{
    width: 45vh;    
    margin-top: 0;
    align-self: flex-start;
    text-align: left;
}
.squarePost .postTextContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
}

@media screen and (max-width: 1700px) {
    /* .portraitPost h1{
        font-size: 3vw;
        line-height: 100%;
    }
    .portraitPost .postTitle{
        margin-bottom: 40px;
    }
    .portraitPost .postCat{
        font-size: .9vw;
    }
    .portraitPost .postCover{
        flex: 0 0 25%;
    }
    .portraitPost .coverImage{
        height: 50vw;
    } */
}
@media screen and (max-height: 1080px) {
    /* .catAndTitle{
        width: 90vh !important;
    }
    .landscapePost .postTitle h1{
        width: 90vh !important;
        font-size: 7vh;
    }
    .landscapePost .postCat{
        font-size: 1.6vh;
    }
    .firstIntro{
        font-size: 1.8vh;
        line-height: 1.5rem;
        width: 45vh !important;
    } */
}
@media screen and (max-height: 1080px) {
    /* .catAndTitle{
        width: 80vh !important;
    }
    .squarePost .postTitle h1{
        width: 80vh !important;
        font-size: 7vh;
    }
    .squarePost .postCat{
        font-size: 1.6vh;
    }
    .firstIntro{
        font-size: 1.8vh;
        line-height: 1.5rem;
        width: 45vh !important;
    } */
}