.h2{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1rem;
}
.h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1rem;
}
.p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 2rem;
}

.standard.postText{
    font-family: 'Neue Helvetica';
    /* text-align: justify; */
    color: var(--on-surface);
    /* width: 55%; */
    width: inherit;
    display: flex;
    flex-direction: column;
}
.standard .p{
    width: 55%;
    margin-left: auto !important;
}
.standard .imageWrapper{
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: flex-end;
}
.standard .imageWrapper.row{
    gap: 25px;
    width: 90%;
    flex-direction: row;
}
.image{
    position: relative;
    height: fit-content;
}
.image img{
    max-height: 900px;
    height: 100%;
    max-width: 100%;
    width: auto;
}
.image figcaption{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-style: italic;
    color: var(--on-surface);
    opacity: .7;
}
.imageWrapper.row .photographer{
    left: -9%;
}
.image .photographer{
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    left: -6%;
    transform: rotate(-90deg) translateY(-100%) translateX(96%);
    letter-spacing: 1px;
    opacity: .5;
}
.photographer a{
    color: var(--on-surface);
}
.photographer a:visited{
    color: var(--on-surface);
}

