.h2{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1rem;
}
.h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1rem;
}
.p{
    font-size: 7px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: .8rem;
}

.standard.postText{
    font-family: 'Neue Helvetica';
    /* text-align: justify; */
    color: var(--on-surface);
    /* width: 55%; */
    width: inherit;
    display: flex;
    flex-direction: column;
}
.standard .p{
    width: 55%;
    margin-left: auto !important;
}
.standard .imageWrapper{
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-end;
}
.standard .imageWrapper.row{
    gap: 13px;
    width: 80%;
    flex-direction: row;
}
.image{
    position: relative;
    height: fit-content;
}
.image img{
    max-height: 500px;
    height: 100%;
    max-width: 100%;
    width: auto;
}
.image figcaption{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 7px;
    font-style: italic;
    color: var(--on-surface);
    opacity: .7;
}
.imageWrapper.row .photographer{
    left: -12%;
}
.image .photographer{
    opacity: .5;
    position: absolute;
    margin: 0;
    bottom: 0;
    left: -7%;
    transform: rotate(-90deg) translateY(-100%) translateX(100%);
    letter-spacing: 1px;
}
.photographer a:visited{
    color: var(--on-surface);
}

/* Landscape format */
.landscape.postText{
    display: flex;
    margin-left: 35px;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    width: max-content;
    justify-content: center;
}
.landscape .p{
    width: 200px;
    font-family: 'Neue Helvetica';
    font-size: 7px;
    color: var(--on-surface);
    margin-right: 35px;
}
.landscape .imageWrapper{
    margin-right: 35px;
    height: 100%;
}
.landscape .image{
    position: relative;
    height: 100%;
}
.landscape .photographer{
    bottom: -5%;
    left: -20px;
}