.h2{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1rem;
}
.h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1rem;
}
.p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 2rem;
}

.standard.postText{
    font-family: 'Neue Helvetica';
    /* text-align: justify; */
    color: var(--on-surface);
    /* width: 55%; */
    width: inherit;
    display: flex;
    flex-direction: column;
}
.standard .p{
    width: 55%;
    margin-left: auto !important;
}
.standard .imageWrapper{
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 45px;

}
.standard .imageWrapper.row{
    gap: 25px;
    width: 90%;
    flex-direction: row;
}
.image{
    position: relative;
    height: fit-content;
}
.image img{
    max-height: 900px;
    height: 100%;
    max-width: 100%;
    width: auto;
}
.image figcaption{
    position: absolute;
    width: min-content;
    min-width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-style: italic;
    color: var(--on-surface);
    opacity: .7;
}
.image .photographer{
    margin: 0;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg) translateX(10px) translateY(-5px);
    transform-origin: bottom left;
    letter-spacing: 1px;
    opacity: .5;
    width: unset !important;
    min-width: unset !important;
}
.photographer a{
    color: var(--on-surface);
}
.photographer a:visited{
    color: var(--on-surface);
}

/* Landscape format */
.landscape.postText{
    display: flex;
    margin-left: 70px;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    width: max-content;
    justify-content: center;
}
.landscape .p{
    width: 550px;
    font-family: 'Neue Helvetica';
    font-size: 20px;
    color: var(--on-surface);
    margin-right: 70px;
}
.landscape .imageWrapper{
    margin-right: 70px;
    height: 100%;
}
.landscape .image{
    position: relative;
    height: 100%;
}