.albumThumbnail{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all .3s;
    cursor: pointer;
}
.albumThumbnail:hover{
    box-shadow: 9px 3px 13px 5px rgba(0,0,0,0.41);
}
.albumThumbnail:hover .fullScreen{
    opacity: 1;
}
.albumThumbnail:hover .albumInfo{
    opacity: 1;
}
.albumThumbnail:hover .vinylImage{
    transform: translateX(20%);
}
.albumCover{
    position: relative;
    height: 100%;
    width: 100%;
}
.albumCover img{
    border-radius: 2%;
    height: 100%;
    width: 100%;
}
.vinylImage{
    transition: all .8s;
    transition-delay: .3s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.fullScreen,.minorScreen{
    position: absolute;
    background-color: transparent;
    right: 2%;
    top: 2%;
    cursor: pointer;
    transition: all .2s;
    opacity: 0;
    z-index: 2;
}
.fullScreen svg{
    height: 20px;
    transition: all .2s;
}
.albumInfo{
    /* opacity: 0; */
    transition: all .3s;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    color: var(--on-background);
}
.albumInfo h2{
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
}
.albumInfo h3{
    /* padding-top: 3%; */
    font-size: 13px;
    font-weight: 300;
}
@media screen and (max-width: 1000px){
    .albumInfo h2{
        font-size: 12px;
        padding-top: 5px;
    }
    .albumInfo h3{
        /* padding-top: 3%; */
        font-size: 11px;
    }
}
@media screen and (max-width: 768px){
    .albumInfo h2{
        font-size: 9px;
        padding-top: 3px;
    }
    .albumInfo h3{
        /* padding-top: 3%; */
        font-size: 8px;
    }
    .fullScreen svg{
        height: 15px;
    }
}
@media screen and (max-width: 550px){
    .albumInfo h2{
        font-size: 7px;
        padding-top: 3px;
    }
    .albumInfo h3{
        /* padding-top: 3%; */
        font-size: 6px;
    }
    .fullScreen svg{
        height: 10px;
    }
}
@media screen and (max-width: 400px){
    .albumInfo h2{
        font-size: 5px;
        padding-top: 3px;
    }
    .albumInfo h3{
        /* padding-top: 3%; */
        font-size: 4px;
    }
    .fullScreen svg{
        height: 8px;
    }
}