.album{
    position: fixed;
    width: auto;
    height: 85vh;
    aspect-ratio: 1080/1920;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--surface-01);
}
.albumBackground{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}
.albumBackground h1{
    color: var(--on-background);
    font-size: 1.5vh;
    font-weight: 700;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
}
.albumBackground .albumCover{
    position: absolute;
    top: 20vh;
    left: 50%;
    height: 30vh;
    width: 30vh;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 75px 10px rgba(0,0,0,0.75);
}
.albumCover img{
    object-fit: cover;
    height: inherit;
    width: inherit;
}
.albumForground{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    color: var(--on-background);
    padding-left: 2vh;
    padding-right: 2vh;
    padding-bottom: 2vh;
    padding-top: 6vh;
}
.albumContainer::-webkit-scrollbar{
    display: none;
}
.albumContainer{
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;
    padding-bottom: 8vh;
}
.albumContainer::after{
    bottom: 0%;
    content: '';
    position: fixed;
    width: calc(100% - 4vh);
    height: 8vh;
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(30,30,30,1) 90%);
}
.albumInfo{
    padding-top: 29vh;
    padding-left: 1vh;
}
.albumInfo h1{
    padding-top: 1vh;
    font-size: 2vh;
    font-weight: 500;
}
.albumInfo .artistInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5vh;
}
.artistInfo img{
    height: 2vh;
    width: 2vh;
    border-radius: 100%;
}
.albumInfo h2{
    padding-top: .5vh;
    font-size: 1vh;
    font-weight: 500;
}
.albumInfo h3{
    padding-top: .5vh;
    font-size: .9vh;
    font-weight: 300;
    word-spacing: .2vh;
}
.playerFunction{
    margin-top: 1vh;
    margin-bottom: .5vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1vh;
}
.playButton{
    height: 6vh;
    width: 6vh;
    cursor: pointer;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
    transition: all .3s;
}
.playButton:hover{
    opacity: 1;
}
.playButton svg{
    height: 4vh;
    width: 4vh;
}
.shuffleButton{
    height: 3vh;
    width: 3vh;
    cursor: pointer;
    position: relative;
}
.shuffleButton.active::after{
    content: '';
    height: .5vh;
    width: .5vh;
    background-color: var(--on-background);
    position: absolute;
    border-radius: .5vh;
    bottom: -.4vh;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
}
.button{
    cursor: pointer;
    height: 2.5vh;
    width: 2.5vh;
}
.button svg{
    height: 2.5vh;
    width: 2.5vh;
}
.songList{
    list-style: none;
    padding-bottom: 1vh;
}
.song{
    display: flex;
    flex-direction: row;
    gap: 1vh;
    align-items: center;
    cursor: pointer;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 10px;
}
.song:hover{
    background-color: var(--surface-16);
}
.trackNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5vh;
    font-size: 1.2vh;
}

.icon {
    display: none;
    height: 1.5vh;
    width: 1.5vh;
}

/* Show the icon on li hover */
.song:hover .trackNumber {
    display: none;
}

.song:hover .icon {
    display: block;
}
.song.active .trackNumber {
    display: none;
}

.song.active .icon {
    display: block;
}

.song h3{
    font-size: 1.2vh;
    font-weight: 500;
}
.song h4{
    padding-top: .4vh;
    font-size: 1vh;
    font-weight: 400;
    color: var(--on-background-matte);
}
/* Info Section */
.infoSection{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1vh;
}
/* Album Desc */
.wrapper{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    transition: all .2s;
    position: relative;
    box-shadow: 0px 0px 400px 200px rgba(115, 115, 115, 0.1) inset;
}
.albumDesc .albumCover{
    width: 100%;
    position: relative;
}
.albumDesc .albumCover h4{
    width: 100%;
    position: absolute;
    font-weight: 600;
    padding-left: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(255,255,255,0) 100%);
}
.albumDesc .albumCover img{
    width: inherit;
    aspect-ratio: 4/3;
    object-fit: cover;
}
.artistBio .artistAvatar{
    width: 100%;
}
.artistBio .artistAvatar h4{
    width: 100%;
    position: absolute;
    font-weight: 600;
    padding-left: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(255,255,255,0) 100%);
}
.artistBio .artistAvatar img{
    object-fit: cover;
    width: inherit;
    aspect-ratio: 4/3;
}
.albumDescContainer{
    max-height: 10vh;
    cursor: pointer;
    color: var(--on-background);
    margin: 1vh;
}
.albumDescContainer p{
    word-spacing: .1vh;
    font-size: 1.1vh;
    font-weight: 400;
}
.albumDescContainer::-webkit-scrollbar{
    display: none;
}
.albumDescContainer.deactive{
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    height: inherit;
    overflow: hidden;
}
.albumDescContainer.active{
    max-height: 100%;
    overflow: auto;
}