.portraitPost{
    position: fixed;
    width: auto;
    height: 85vh;
    aspect-ratio: 1080/1920;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    overflow: hidden;
}
.postCover{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.postCover button{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 6vh;
    width: 6vh;
    background-color: transparent;
    transform-origin: center center;
}
.postCover button.visible{
    animation: fadeInOut .3s ease-out;
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    50%{
        opacity: 100%;
        visibility: visible;
        scale: 1.1;
    }
    100%{
        opacity: 0%;
        visibility: hidden;
        scale: 1;

    }
}
.videoAudio{
    transition: all .2s;
    position: absolute;
    right: 5.5vh;
    bottom: 1.5vh;
    z-index: 3;
}
.videoAudio button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 2.5vh;
    width: 2.5vh;
}
.videoAudio button svg{
    height: 100%;
    width: 100%;
}
.videoAudio button:hover{
    scale: 1.1;
}
.videoSrc{
    object-fit: cover;
    width: 100%;
    cursor: pointer;
}
.postOverlay{
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: -5%;
    transition: all .2s ease-in-out;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(5,5,5,.8) 100%);
    opacity: .8;
    margin: 0;
    padding: 0;
}
.postOverlay.active{
    opacity: 1;
    height: 60%;
}
.postInfo{
    z-index: 1;
    position: absolute;
    left: 1.5vh;
    bottom: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80%;
    height: 40%;
}
.postCat{
    width: fit-content;
    margin-bottom: .8vh;
    display: flex;
    align-items: center;
}
.postCat img{
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.153);
    border-radius: 100%;
    height: 3vh;
    width: 3vh;
}
.postCat span{
    padding-left: .5vh;
    color: var(--on-background);
    font-size: 1vh;
    font-weight: 300;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.285);
}
.postInfo .titlePost{
    width: 100%;
    display: block;
    padding-bottom: .4vh;
}
.postInfo .titlePost h1{
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.285);
    color: var(--on-background);
    font-size: 1.2vh;
    font-weight: 500;
}
.postDesc{
    color: var(--on-background-matte);
    font-size: 1.1vh;
    font-weight: 300;
    /* white-space: nowrap; */
    transition: max-height .4s, overflow .4s; /* wait for content scroll to top */
    overflow: hidden;
}
.postDesc::-webkit-scrollbar{
    display: none;
}
.postDesc.deactive{
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    max-height: 20%
}
.postDesc.active{
    transition: max-height .4s, overflow .4s;
    max-height: 100%;
    overflow: auto;
    color: var(--on-background);
    opacity: .8;
}
.postAuthor{
    width: 3vh;
    height: 3vh;
    margin-top: 1.5vh;
}
.postAuthor img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20%;
    border: 1px solid var(--on-background);
}
.postSocial{
    position: absolute;
    right: 1.5vh;
    bottom: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--on-background);
    font-size: 1.5vh;
    font-weight: 300;
}
.postSocial button svg{
    height: 2.5vh;
}
.postSocial button,.iconContainer{
    cursor: pointer;
    height: 2.5vh;
    background-color: transparent;
    margin-top: 1vh;
}

.postSocial button svg path{
    transition: all .1s;
    /* fill: none */
}
.iconContainer svg{
    height: 2.5vh;
}


/* Landscape Post Format */
.landscapePost{
    position: fixed;
    width: 65vw;
    height: auto;
    aspect-ratio: 16/9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    overflow: hidden;
}
.landscapePost .postInfo{
    left: 1vw;
    bottom: 1vw;
    width: 85%;
}
.landscapePost .postCat{
    margin-bottom: .5vw;
}
.landscapePost .postCat img{
    height: 1.5vw;
    width: 1.5vw;
}
.landscapePost .postCat span{
    padding-left: .3vw;
    font-size: .6vw;
}
.landscapePost .postInfo .titlePost{
    padding-bottom: .3vw;
}
.landscapePost .postInfo .titlePost h1{
    font-size: .7vw;
}
.landscapePost .postDesc{
    font-size: .7vw;
    width: 60%;
}
.landscapePost .videoAudio{
    right: 4vw;
    bottom: 1vw;
}
.landscapePost .videoAudio button svg{
    height: 1.5vw;
    width: 1.5vw;
}
.landscapePost .postSocial{
    right: 1vw;
    bottom: 1vw;
    font-size: .8vw;
}
.landscapePost .postSocial button svg{
    height: 1.3vw;
}
.landscapePost .postSocial button{
    cursor: pointer;
    height: 1.3vw;
    background-color: transparent;
    margin-top: .5vw;
}
.postAuthor{
    width: 1.5vw;
    height: 1.5vw;
    margin-top: 1.3vw;
}

@media screen and (max-width: 1000px) {
    
}
@media screen and (max-width: 768px) {
    .portraitPost{
        height: 75vh;
    }
}
@media screen and (max-width: 550px) {
    .portraitPost{
        height: 65vh;
    }
}
@media screen and (max-width: 400px) {
    .portraitPost{
        width: 95vw;
        height: auto;
    }
}